<div class="table-div">
  <table mat-table [dataSource]="empList" class="table-mat" matSort>
    <ng-container matColumnDef="EmployeeName">
      <mat-header-cell *matHeaderCellDef mat-sort-header>Employee Name</mat-header-cell>
      <mat-cell *matCellDef="let element">{{element.firstName}} {{element.lastName}}</mat-cell>
    </ng-container>

    <ng-container matColumnDef="emailId">
      <mat-header-cell *matHeaderCellDef mat-sort-header>Employee Email Id</mat-header-cell>
      <mat-cell *matCellDef="let element">{{element.email}}</mat-cell>
    </ng-container>
    <ng-container matColumnDef="phone_number">
      <mat-header-cell *matHeaderCellDef mat-sort-header>Employee Contact Info</mat-header-cell>
      <mat-cell *matCellDef="let element">+91-{{element.phone_number}}</mat-cell>
    </ng-container>
    <ng-container matColumnDef="actions">
      <mat-header-cell *matHeaderCellDef></mat-header-cell>
      <mat-cell *matCellDef="let element">
        <button mat-icon-button (click)="update(element)" title="Update">
          <mat-icon>edit</mat-icon>
        </button>
        <button mat-icon-button class="warn-icon" title="delete" (click)="delete(element)">
          <mat-icon>
            delete_outline
          </mat-icon>
        </button>
      </mat-cell>
    </ng-container>


    <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
    <mat-row *matRowDef="let row; columns: displayedColumns;"></mat-row>

    <!--define ng container with column name loading-->
  </table>
  <button (click)="add()" style=" margin-left: 691px;" mat-raised-button color="warn">Add Employee</button>&nbsp;
  <button (click)="logout()" mat-raised-button color="warn">Logout</button>
</div>
