<h1>{{data.method | uppercase }}</h1>
<form [formGroup]="form" (ngSubmit)="aoru()">
  <mat-form-field>
    <mat-label>First Name</mat-label>
    <input matInput formControlName="firstName">
    <mat-error *ngIf="form.controls['firstName'].invalid">
      Please Enter Valid First Name
    </mat-error>
  </mat-form-field><br>

  <mat-form-field>
    <mat-label>Last Name</mat-label>
    <input matInput formControlName="lastName">
    <mat-error *ngIf="form.controls['lastName'].invalid">
      Please Enter Valid Last Name
    </mat-error>
  </mat-form-field><br>

  <mat-form-field>
    <mat-label>Address</mat-label>
    <input matInput formControlName="address">
    <mat-error *ngIf="form.controls['address'].invalid">
      Please Enter Valid Address
    </mat-error>
  </mat-form-field><br>

  <mat-form-field class="signup-full-width">
    <mat-label>City</mat-label>
    <input matInput formControlName="city">
    <mat-error *ngIf="form.controls['city'].invalid">
      Please Enter Valid city
    </mat-error>
  </mat-form-field><br>

  <mat-form-field class="signup-full-width">
    <mat-label>Company</mat-label>
    <input matInput formControlName="company">
    <mat-error *ngIf="form.controls['company'].invalid">
      Please Enter Valid Company Name
    </mat-error>
  </mat-form-field><br>

  <mat-form-field class="signup-full-width">
    <mat-label>DOB</mat-label>
    <input matInput type="date" formControlName="dob">
    <mat-error *ngIf="form.controls['dob'].invalid">
      Please Enter Valid Date
    </mat-error>
  </mat-form-field><br>

  <mat-form-field>
    <mat-label>Mobile</mat-label>
    <input matInput autocomplete="off" formControlName="mobile">
    <mat-error *ngIf="form.controls['mobile'].invalid">
      Please Enter Valid mobile Number
    </mat-error>
  </mat-form-field><br>

  <mat-form-field>
    <mat-label>Email</mat-label>
    <input matInput placeholder="example@domain.com" formControlName="email">
    <mat-error *ngIf="form.controls['email'].invalid">
      Please Enter Valid Email Id
    </mat-error>
  </mat-form-field><br>

  <mat-form-field class="signup-full-width" *ngIf="data.method==='add'">
    <mat-label>Password</mat-label>
    <input matInput type="password" autocomplete="off" formControlName="password">
    <mat-error *ngIf="form.controls['password'].invalid">
      Password is required
    </mat-error>
  </mat-form-field><br>

  <button [disabled]="form.invalid" type="submit" mat-raised-button
    color="warn">{{data.method | uppercase}}</button>&nbsp;
</form>
