<div class="signup">
  <mat-card>
    <mat-card-header>
      <mat-card-title style="padding-left: 255%;">SIGNUP</mat-card-title>
    </mat-card-header>
    <form [formGroup]="signinForm" class=" signup-form" (ngSubmit)="register()">
      <mat-form-field class="signup-full-width">
        <mat-label>Name</mat-label>
        <input matInput formControlName="name">
        <mat-error *ngIf="signinForm.controls['name'].invalid">
          Please Enter Valid Name
        </mat-error>
      </mat-form-field>
      <mat-form-field class="signup-full-width">
        <mat-label>Email</mat-label>
        <input matInput placeholder="example@domain.com" formControlName="email">
        <mat-error *ngIf="signinForm.controls['email'].invalid">
          Please Enter Valid EmailId
        </mat-error>
      </mat-form-field>
      <mat-form-field class="signup-full-width">
        <mat-label>Password</mat-label>
        <input matInput type="password" autocomplete="off" formControlName="password">
        <mat-error *ngIf="signinForm.controls['password'].invalid">
          Password is required
        </mat-error>
      </mat-form-field>

      <button [disabled]="signinForm.invalid" type="submit" mat-raised-button style="margin-left: 40%;"
        color="warn">Register</button>&nbsp;<br>
      <span routerLink="/" style="margin-left: 20%;">Already have a account? <u>login here</u></span>
    </form>
  </mat-card>
</div>
